<form [formGroup]="uploadForm" novalidate>
    <mat-card class="cardic">
      <mat-card-header>
        <mat-card-title>Unesite podatke novog kupca</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="col">
          <mat-form-field class="forma">
            <input matInput placeholder="Naziv" formControlName="naziv" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="forma">
            <input matInput placeholder="Mjesto" formControlName="mjesto" />
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="forma">
              <input matInput placeholder="Adresa" formControlName="adresa" />
            </mat-form-field>
          </div>
      </mat-card-content>
      <button
        mat-raised-button
        (click)="uploadProduct()"
        class="right"
        [disabled]="uploadForm.invalid"
        color="primary"
      >
        Unesi
      </button>
    </mat-card>
  </form>
  <div class="fontic marginaTop">
    <table class="tablee">
      <tbody>
        <tr>
          <th class="redic" style="width: 5%">Id</th>
          <th class="redic" style="width: 5%">Šifra</th>
          <th class="redic" style="width: 16%">Ime kupca</th>
          <th class="redic" style="width: 16%">Adresa</th>
          <th class="redic" style="width: 16%">Mjesto</th>
          <th class="redic" style="width: 16%">
            <mat-form-field>
              <input
                id="searchText"
                matInput
                name="search"
                type="search"
                placeholder="Pretraži..."
                [(ngModel)]="searchText"
                class="search-input"
              />
            </mat-form-field>
          </th>
        </tr>
        <tr *ngFor="let kupac of kupci | appFilter: searchText">
          <td class=" redic">{{kupac.id}}</td>
          <td class=" redic">{{kupac.sifra}}</td>
          <td class="redic">{{ kupac.naziv | titlecase}}</td>
          <td class="redic">{{ kupac.adresa | titlecase }}</td>
          <td class="redic">{{ kupac.mjesto | titlecase }}</td>
          <td class="redic">
            <button mat-raised-button (click)="openRolesModal(kupac)" class="btn btn-info">
              Uredi kupac
            </button>
            <mat-icon (click)="openDialog(kupac.naziv)" class="trash"
              >delete_forever</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  