<div class="container mt-2">
  <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
</div>
<div class="container mt-5 mb-3" id="pdfTable" #pdfTable>
  <div class="row d-flex justify-content-center">
      <div class="col-md-12">
          <div class="card">
              <div class="d-flex flex-row p-2">
                  <div class="d-flex flex-column"> <span class="font-weight-bold">Broj računa </span> <small></small> {{racun.racun.broj}} | <span class="datum">Datum: {{racun.racun.datum | customDate}}</span></div>
                  
              </div>
              
              <hr>
              <div class="table-responsive p-2">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td>Kupac</td>
                              <td class="radnik">Radnik na kasi</td>
                          </tr>
                          <tr class="content">
                              <td class="font-weight-bold">Ime: {{racun.racun.kupac.naziv}}<br>Adresa: {{racun.racun.kupac.adresa}} <br>Mjesto: {{racun.racun.kupac.mjesto}}</td>
                              <td class="font-weight-bold radnik"  *ngIf="accountService.currentUser$ | async as user">{{ user.username | titlecase }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>
              <div class="products p-6">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td>Šifra proizvoda</td>
                              <td>Ime</td>
                              <td>Cijena</td>
                              <td class="text-center">Količina</td>
                              <td class="text-center">Popust</td>
                              <td class="text-center">Total</td>
                          </tr>
                          <tr class="content" *ngFor="let stavka of racun.racun.stavkeRacuna">
                            <td>{{stavka.proizvod.sifra}}</td>
                            <td>{{stavka.proizvod.naziv}}</td>
                            <td>{{stavka.cijena}} KM</td>
                            <td class="text-center">{{stavka.kolicina}} {{stavka.proizvod.jedinicaMjere.naziv}}</td>
                            <td class="text-center">{{stavka.popust}} %</td>
                            <td class="text-center">{{stavka.vrijednost}} KM</td>
                          </tr>
                          <tr class="add">
                            <td></td><td></td><td></td><td></td><td></td>

                            <td>Cijena prije popusta</td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>{{totalBezPopusta}} KM</td>
                          </tr>
                          <tr class="add">
                            <td></td><td></td><td></td><td></td><td></td>

                            <td>Iznos popusta</td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>{{totalPopust}} KM</td>
                          </tr>
                          <tr class="add">
                            <td></td><td></td><td></td><td></td><td></td>

                            <td>Cijena</td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>{{racun.racun.ukupnaCijena}} KM</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>
              <div class="products p-2">
                  Napomena: {{racun.racun.napomena}}
              </div>
              <hr>
          </div>
      </div>
  </div>
</div>