<div>
  <div class="addProd"></div>
</div>
<form [formGroup]="uploadRacunForm">
  <div class="grid-container">
    <mat-grid-list cols="4" rowHeight="6vh">
      <mat-grid-tile [colspan]="3" [rowspan]="14">
        <mat-card class="dashboard-card3">
          <mat-card-content class="dashboard-card-content">
            <div class="bill">
              <table>
                <tbody>
                  <tr>
                    <th class="redic" style="width: 16.5%">Proizvod</th>
                    <th class="redic" style="width: 16.5%">Količina</th>
                    <th class="redic" style="width: 16.5%">Cijena</th>
                    <th class="redic" style="width: 16.5%">Popust</th>
                    <th class="redic" style="width: 16.5%">Iznos popusta</th>
                    <th class="redic" style="width: 16.5%">Vrijednost</th>
                  </tr>
                  <tr *ngFor="let dodanproizvod of stavke">
                    <td class="redic">
                      {{ dodanproizvod.naziv }}
                    </td>
                    <td class="redic">
                      {{ dodanproizvod.kolicina }} {{dodanproizvod.jedinicaMjere | lowercase}}
                    </td>
                    <td class="redic">
                      {{ dodanproizvod.cijena | number : '.2-2'}} KM
                    </td>
                    <td class="redic">{{ dodanproizvod.popust }} %</td>
                    <td class="redic">{{ dodanproizvod.iznosPopusta | number : '.2-2'}} KM</td>
                    <td class="redic">{{ dodanproizvod.vrijednost | number : '.2-2'}} KM</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card2">
          <mat-card-content class="dashboard-card-content">
            <div>
              <select
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="selectedKupac"
                (change)="onKupacChange($event)"
              >
                <option *ngFor="let kupac of kupci" [ngValue]="kupac">
                  {{ kupac.naziv }}
                </option>
              </select>
              <button
                mat-button
                [disabled]="!selectedKupac"
                (click)="addKupac()"
              >
                DODAJ KUPCA
              </button>
            </div>
          </mat-card-content>
        </mat-card> </mat-grid-tile
      ><mat-grid-tile [colspan]="1" [rowspan]="12">
        <mat-card class="dashboard-card4">
          <mat-card-content class="dashboard-card-content">
            <mat-form-field class="example-full-width">
              <mat-label>NAPOMENA</mat-label>
              <input
                matInput
                placeholder="Napomena"
                formControlName="napomena"
              />
            </mat-form-field>
            <div class="bill1">
              CIJENA PRIJE POPUSTA: <br />
              {{ totalBezPopusta }} KM
            </div>
            <div class="bill1">
              POPUST: <br />
              {{ totalPopust }} KM
            </div>
            <div class="bill1">
              UKUPNA CIJENA: <br />
              {{ total }} KM
            </div>
            <div class="unesi">
              <button
                mat-button
                [disabled]="provjera == false"
                (click)="postRacun()"
              >
                UNESI RACUN
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>
