.kupac{text-align: center;}
.grid-container {
    margin: 1px;
  }
  
  .dashboard-card1 {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  .dashboard-card2 {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
  }
  .dashboard-card3 {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow-y: scroll;
  }
  .dashboard-card4 {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }

  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }